<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Pages</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div id="overlay" class="overlay"></div>
  <div id="modal_login" class="container_modal">
    <div class="modal login">
      <div class="figure">
        <img src="../assets/avatar.png" alt="avatar" />
      </div>
      <form class="form">
        <div class="form__container">
          <div class="form__group">
            <label>Correo electrónico: </label>
            <input class="input" type="email" placeholder="ejemplo@mail.com" />
          </div>
          <div class="form__group">
            <label>Contraseña: </label>
            <input class="input" type="password" placeholder="Contraseña" />
          </div>
          <div class="form__buttons">
            <button>Iniciar Sesión</button>
            <button type="button" id="cancel_login">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="modal_register" class="container_modal">
    <div class="modal">
      <div class="figure">
        <h1 class="modal__title">Registro</h1>
      </div>
      <form class="form__container">
        <div class="form__group">
          <label for="names">Nombre(s): </label>
          <input id="names" class="input" type="text" placeholder="Nombre(s)" />
        </div>
        <div class="form__group">
          <label for="last_name">Apellidos: </label>
          <input id="last_name" class="input" type="text" placeholder="Apellidos" />
        </div>
        <div class="radio_button">
          <span>Sexo: </span>
          <input type="radio" id="male" name="gender" value="male" />
          <label for="male">M</label>
          <input type="radio" id="female" name="gender" value="female" />
          <label for="female">F</label>
        </div>
        <div class="form__group">
          <label for="date">Fecha de nacimiento: </label>
          <input id="date" class="input" type="date" />
        </div>
        <div class="form__group">
          <label for="email">Correo electrónico: </label>
          <input id="email" class="input" type="email" />
        </div>
        <div class="form__group">
          <label for="conf_email">Confirmar correo electrónico: </label>
          <input id="conf_email" class="input" type="email" />
        </div>
        <div class="form__group">
          <label for="pass">Contraseña: </label>
          <input id="pass" class="input" type="password" placeholder="Contraseña" />
        </div>
        <div class="form__group">
          <label for="conf_pass">Confirmar contraseña: </label>
          <input id="conf_pass" class="input" type="password" placeholder="Contraseña" />
        </div>
        <div class="form__buttons">
          <button>Iniciar Sesión</button>
          <button type="button" id="cancel_register">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid header" align="center">
    <div class="row">
      <div class="col-md-12">
        <div id="banner">
          <ul align="center">
            <li align="center">
              <img src="public/img/banner-0.jpg" alt="" class="img-responsive">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <!--
      <nav class="navbar navbar-default navbar-static-top">
      -->
      <div class="container margin-left-nav">
        <div class="row">
          <div class="col-md-3 col-sm-2 col-xs-2">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="col-md-9 col-sn-10 col-xs-10">
            <ul class="nav navbar-nav navbar-right">
              <button id="login">Login</button>
              <button id="register">Register</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <br>
      <div class=" activa col-sx-7 col-md-7">
        <article class="">
          <h1>Bienvenido</h1>
          <p align="justify">
            En general existen sistemas que permiten administrar equipos de trabajo,
            sin embargo, no facilitan la creación de estos ya que los usuarios deben
            asignar roles y muchas veces no son los correctos por la personalidad y
            actitud de que cada uno, esto suele causar conflictos en la realización
            de actividades, objetivos y de la visión del proyecto.
          </p>
        </article>
      </div>
      <div class="col-sx-5 col-md-5">
        <div class="container-fluid">
          <img src="public/img/inicio/images(12).jpeg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-sx-6 col-md-6">
        <div class="container-fluid">
          <img src="public/img/banner-0.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="activa col-sx-6 col-md-6">
        <article class="">
          <h2>Funcionalidades del sistema</h2>
          <p>
            El sistema “Plataforma de toma de decisiones” está enfocado en la gestión
            de equipos, por lo que sus funcionalidades son las siguientes: Gestionar
            Test, Generar Perfil, Automatizar Roles, Crear Equipo y Gestionar Sugerencias.
          </p>
        </article>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="activa col-sx-6 col-md-3">
        <article class="">
          <h3>Gestionar Test</h3>
          <p align="justify">
            El sistema permite a los usuarios realizar un test inicial de personalidad,
            esto es para que el sistema pueda saber qué tipo de rol es apto para ese usuario.
          </p>
        </article>
      </div>
      <div class="col-sx-6 col-md-3">
        <div class="container-fluid">
          <img src="public/img/inicio/images(15).jpeg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="activa col-sx-6 col-md-3">
        <article class="">
          <h3>Generar perfil</h3>
          <p align="justify">
            El sistema les permite a los usuarios crear una cuenta dentro del sistema,
            en esta cuenta se almacena información personal y se anexan los test
            que el usuario desee mostrar.
          </p>
        </article>
      </div>
      <div class="col-sx-6 col-md-3">
        <div class="container-fluid">
          <img src="public/img/inicio/images(18).jpeg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="activa col-sx-6 col-md-3">
        <article class="">
          <h3>Automatizar roles</h3>
          <p align="justify">
            El sistema permite a los integrantes de un equipo ver los roles que
            han sido asignados a cada miembro, esto sucederá y permanecerá
            mientras el equipo funcione en la realización de actividades.
          </p>
        </article>
      </div>
      <div class="col-sx-6 col-md-3">
        <div class="container-fluid">
          <img src="public/img/inicio/images(21).jpeg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="activa col-sx-6 col-md-3">
        <article class="">
          <h3>Crear equipo</h3>
          <p align="justify">
            El sistema permite crear equipos balanceados, es decir, únicamente
            entre 4- 6 participantes, esto con el fin de hacer mejorar las
            relaciones.
          </p>
        </article>
      </div>
      <div class="col-sx-6 col-md-3">
        <div class="container-fluid">
          <img src="public/img/inicio/images(23).jpeg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="activa col-sx-6 col-md-3">
        <article class="">
          <h3>Gestionar sugerencias</h3>
          <p align="justify">
            El sistema permite enviar sugerencias a cada integrante basándose en
            el desempeño que ha obtenido en cada equipo, así como la notificación
            al líder de un equipo en base a los integrantes.
          </p>
        </article>
      </div>
      <div class="col-sx-6 col-md-3">
        <div class="container-fluid">
          <img src="public/img/inicio/images(13).jpeg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <footer class="container-full black">
    <div class="container-fluid">
      <br>
      <center>
        <p>Copyright (c) 2020 by BUAP Corporation. All Rights Reserved.</p>
      </center>
      <br>
    </div>
  </footer>
  <button id="login">Login</button>
  <button id="register">Register</button>
  <script src="../js/handlemodal.js"></script>
</body>

</html>