<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/inicio.css" type="text/css"/>
    <link rel="shortcut icon" href="../img/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../img/icon/apple-touch-icon.png">
    <title>Agendar tarea</title>
    <!--
    <title>Modificar tarea</title>
    -->
  </head>
  <body>
    <div class="container-full">
      <nav class="navbar navbar-inverse navbar-static-top">
      <!--
      <nav class="navbar navbar-default navbar-static-top">
      -->
        <div class="container margin-left-nav">
          <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-1">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand inactive">Nombre_del_usuario</a>
              </div>
            </div>
            <div class="col-md-9 col-sn-10 col-xs-10"></div>
          </div>
        </div>
      </nav>
    </div>

    <section class="container-full">
      <div class="row" id="full-page">
        <div class="col-md-2 col-sm-5 col-xs-5">
          <div class="profile-sidebar">
            <div class="profile-userpic">
            </div>
            <nav class="profile-menu">
              <ul class="nav  navbar vertical navbar-inverse">
                <li>
                  <a href="inicio.html"><img class="imagen-icono" src="../img/icon/home_white.png" alt="Inicio"> Inicio</a>
                </li>
                <li>
                  <a href="perfil.html"><img class="imagen-icono" src="../img/icon/user_white.png" alt="Perfil"> Perfil</a>
                </li>
                <li class="active">
                  <a href="#"><img class="imagen-icono" src="../img/icon/duplicate_white.png" alt="Grupos de trabajo"> Grupos de trabajo</a>
                </li>
                <li>
                  <a href="">Crear nuevo grupo</a>
                </li>
                <li>
                  <a href="">Unirse a un grupo</a>
                </li>
                <li>
                  <a href="solicitudes.html"><img class="imagen-icono" src="../img/icon/envelope_white.png" alt="Solicitudes"> Solicitudes</a>
                </li>
                <li>
                  <a href="#"><img class="imagen-icono" src="../img/icon/exit_white.png" alt="Grupos de trabajo"> Cerrar sesión</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-10 col-sm-7 col-xs-7">
          <!--aqui va el contenido-->
          <br>
          <small>
            <div class="container col-md-12 col-sm-12 col-xs-12">
              <h3>Agendar tarea</h3>
              <!--
              <h3>Modificar tarea</h3>
              -->
              <form class="form-inline" action="index.html" method="post">
                <div class="row">
                  <div class="container fluid activa col-md-7 col-sm-12 col-xs-12">
                    <fieldset class="">
                      <legend>Información básica</legend>
                      <div class="form-group">
                        <label for="">Nombre de la tarea: </label>
                        <input class="form-control form-control-sm" placeholder="Nombre(s)" type="text" name="" value="">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="">Fecha de inicio: </label>
                        <input class="form-control form-control-sm" align="middle" type="date" name="" value="">
                      </div> &nbsp;&nbsp;
                      <div class="form-group">
                        <label for="">Fecha de termino: </label>
                        <input class="form-control form-control-sm" align="middle" type="date" name="" value="">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="">Descripción: </label><br>
                        <textarea class="form-control form-control-sm" name="name" rows="2" cols="70" placeholder="Descripción..."></textarea>
                      </div>
                    </fieldset>
                    <br>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="container fluid activa col-md-7 col-sm-12 col-xs-12">
                    <fieldset>
                      <legend>Requerimientos (Perfil educativo)</legend>
                      <label for="">Áreas de conocimiento y/o carrera necesaria:</label><br>
                      <label for="">NOTA: De no ser necesarios, dejar el espacio en blanco</label><br>
                      <div class="form-group">
                        Área: &nbsp;
                        <select class="form-control form-control-sm" name="area">
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        Carrera: &nbsp;
                        <select class="form-control form-control-sm" name="area">
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        <button align="middle" class="form-control form-control-sm btn btn-default" type="button" name="button"><b>+ Agregar otro</b></button>
                      </div>
                      <div class="inactivo form-group">
                        Área: &nbsp;
                        <select class="form-control form-control-sm" name="area" disabled>
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        Carrera: &nbsp;
                        <select class="form-control form-control-sm" name="area" disabled>
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        <button align="middle" class="form-control form-control-sm btn btn-default" type="button" name="button" disabled>
                          <b>X Quitar</b>
                        </button>
                      </div>
                    </fieldset>
                    <br>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="container fluid activa col-md-7 col-sm-12 col-xs-12">
                    <fieldset>
                      <legend>Requerimientos opcionales (Acreditaciones)</legend>
                      <label for="">Acreditaciones necesarias:</label><br>
                      <label for="">NOTA: De no ser necesarios, dejar el espacio en blanco</label><br>
                      <div class="form-group">
                        <label for="">Nombre: </label>
                        <input class="form-control form-control-sm" placeholder="Nombre:" type="text" name="" value="">
                        &nbsp;&nbsp;
                        Tipo: &nbsp;
                        <select class="form-control form-control-sm" name="area">
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        &nbsp;&nbsp;
                        <button align="middle" class="form-control form-control-sm btn btn-default" type="button" name="button"><b>+ Agregar otro</b></button>
                      </div>
                      <br>
                      <div class="inactivo form-group">
                        <label for="">Nombre: </label>
                        <input class="form-control form-control-sm" placeholder="Nombre:" type="text" name="" value="">
                        &nbsp;&nbsp;
                        Tipo: &nbsp;
                        <select class="form-control form-control-sm" name="area" disabled>
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        &nbsp;&nbsp;
                        <button align="middle" class="form-control form-control-sm btn btn-default" type="button" name="button" disabled>
                          <b>X Quitar</b>
                        </button>
                      </div>
                    </fieldset>
                    <br>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="container fluid activa col-md-7 col-sm-12 col-xs-12">
                    <fieldset>
                      <legend>Asignación de personal</legend>
                      <label for="">Sugerencias de personal:</label><br>
                      <div class="form-group">
                        <!--
                        Sugerencias del personal
                        -->
                      </div><br>
                      <label for="">Personal a asignar:</label><br>
                      <div class="form-group">
                        <label for="">Usuario:</label>
                        <select class="form-control form-control-sm" name="area">
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        <label for="">
                          &nbsp;&nbsp;
                          <button align="middle" class="form-control form-control-sm btn btn-default" type="button" name="button"><b>+ Agregar otro</b></button>
                        </label>
                        <br>
                      </div>
                      <div class="inactivo">
                        <label for="" disabled>Usuario:</label>
                        <select class="form-control form-control-sm" name="area" disabled>
                          <option value="">-</option>
                          <option value="">opcion 2</option>
                          <option value="">opcion 3</option>
                        </select>
                        &nbsp;&nbsp;
                        <button align="middle" class="form-control form-control-sm btn btn-default" type="button" name="button" disabled>
                          <b>X Quitar</b>
                        </button>
                        <br>
                      </div>
                    </fieldset>
                    <br>
                  </div>
                </div>
                <br>
                <div class="container-fluid col-md-7 col-sm-12 col-xs-12" align="center">
                  <button type="submit" class="btn btn-primary" name="button">Aceptar</button>
                  <button type="button" class="btn btn-danger" name="button">Cancelar</button>
                </div>
              </form>
            </div>
          </small>
        </div>
      </div>
    </section>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
