<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/inicio.css" type="text/css"/>
    <link rel="shortcut icon" href="../img/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../img/icon/apple-touch-icon.png">
    <title>Grupo de trabajo</title>
  </head>
  <body>
    <div class="container-full">
      <nav class="navbar navbar-inverse navbar-static-top">
      <!--
      <nav class="navbar navbar-default navbar-static-top">
      -->
        <div class="container margin-left-nav">
          <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-1">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Nombre_del_usuario</a>
              </div>
            </div>
            <div class="col-md-9 col-sn-10 col-xs-10"></div>
          </div>
        </div>
      </nav>
    </div>


    <section class="container-full">
        <div class="row" id="full-page">
          <div class="col-md-2 col-sm-5 col-xs-5">
            <div class="profile-sidebar">
              <div class="profile-userpic">
              </div>
              <nav class="profile-menu">
                <ul class="nav  navbar vertical navbar-inverse">
                  <li>
                    <a href="inicio.html"><img class="imagen-icono" src="../img/icon/home_white.png" alt="Inicio"> Inicio</a>
                  </li>
                  <li>
                    <a href="perfil.html"><img class="imagen-icono" src="../img/icon/user_white.png" alt="Perfil"> Perfil</a>
                  </li>
                  <li>
                    <a href="perfil.html">Modificar perfil</a>
                  </li>
                  <li>
                    <a href="workgroups.html"><img class="imagen-icono" src="../img/icon/duplicate_white.png" alt="Grupos de trabajo"> Grupos de trabajo</a>
                  </li>
                  <li class="divider"></li>
                  <li class="active">
                    <a href="newgroup.html">Crear nuevo grupo</a>
                  </li>
                  <li>
                    <a href="unirse_a_un_grupo.html">Unirse a un grupo</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="solicitudes.html"><img class="imagen-icono" src="../img/icon/envelope_white.png" alt="Solicitudes"> Solicitudes</a>
                  </li>
                  <li>
                    <a href="#"><img class="imagen-icono" src="../img/icon/exit_white.png" alt="Grupos de trabajo"> Cerrar sesión</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-md-10 col-sm-7 col-xs-7">
          <!--aqui va el contenido-->
          <br>
          <div class="row">
            <article class="col-md-12">
              <h1>Creacion nuevo grupo</h1>
            </article>
          </div>
          <br>
          <div class="row">
            <article class="activa col-md-12">
              <br>
             
              <p>Los campos obligatorios se marcan con un <abbr title = "obligatorio">*</abbr></p>

              <div>
                <div>
                    <label for="username">Nombre del grupo: <abbr title="required" aria-label="obligatorio">*</abbr></label>
                    <input id="username" type="text" name="username">
                  </div>
    
              </div>
              
              <div>
                <label for="username">Descripción:</label><br>
                <textarea name="Descripción" rows="10" cols="40">El grupo de trabajo es para...</textarea>
              </div>



              <table class="table table-bordered table-hover">
                <thead>
                <th>Usuarios que se agregaran</th>
                </thead>
                    <tr>
                    <td style="width:580px;">
                        <label for="username">Correo: <abbr title="required" aria-label="obligatorio">*</abbr></label>
                        <input id="email" type="email" name="email">
                        <a href="" class="btn btn-success btn-xs">Agregar otro</a>
                        <a href="" class="btn btn-danger btn-xs">Eliminar</a>
                        <br>
                        <label for="username">Correo: <abbr title="required" aria-label="obligatorio">*</abbr></label>
                        <input id="email" type="email" name="email">
                        <a href="" class="btn btn-success btn-xs">Agregar otro</a>
                        <a href="" class="btn btn-danger btn-xs">Eliminar</a>
                        <br>
                        <label for="username">Correo: <abbr title="required" aria-label="obligatorio">*</abbr></label>
                        <input id="email" type="email" name="email">
                        <a href="" class="btn btn-success btn-xs">Agregar otro</a>
                        <a href="" class="btn btn-danger btn-xs">Eliminar</a>
                    </td>
                    </tr>
                    

    </table>
    <button href="" class="btn btn-primary" type="submit">Aceptar</button>
    <button href="" class="btn btn-danger">Cancelar</button>

<!--
              <form class="needs-validation" novalidate>
                <div class="form-row">
                <br>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Usuarios que se agregaran</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                      </div>
                      <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                    <br><button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </div>
              
 
              </form>
-->


            </article>
          </div>
          <br>
       
        </div>
      </div>
    </section>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
