<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/inicio.css" type="text/css"/>
    <link rel="shortcut icon" href="../img/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../img/icon/apple-touch-icon.png">
    <title>Solicitudes</title>
  </head>
  <body>
    <div class="container-full">
      <nav class="navbar navbar-inverse navbar-static-top">
      <!--
      <nav class="navbar navbar-default navbar-static-top">
      -->
        <div class="container margin-left-nav">
          <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-2">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-1">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Nombre_del_usuario</a>
              </div>
            </div>
            <div class="col-md-9 col-sn-10 col-xs-10"></div>
          </div>
        </div>
      </nav>
    </div>

    <section class="container-full">
      <div class="row" id="full-page">
        <div class="col-md-2 col-sm-5 col-xs-5">
          <div class="profile-sidebar">
            <div class="profile-userpic">
            </div>
            <nav class="profile-menu">
              <ul class="nav  navbar vertical navbar-inverse">
                <li>
                  <a href="inicio.html"><img class="imagen-icono" src="../img/icon/home_white.png" alt="Inicio"> Inicio</a>
                </li>
                <li>
                  <a href="perfil.html"><img class="imagen-icono" src="../img/icon/user_white.png" alt="Perfil"> Perfil</a>
                </li>
                <li>
                  <a href="#"><img class="imagen-icono" src="../img/icon/duplicate_white.png" alt="Grupos de trabajo"> Grupos de trabajo</a>
                </li>
                <li class="active">
                  <a href="#"><img class="imagen-icono" src="../img/icon/envelope_white.png" alt="Solicitudes"> Solicitudes</a>
                </li>
                <li>
                  <a href="#"><img class="imagen-icono" src="../img/icon/exit_white.png" alt="Grupos de trabajo"> Cerrar sesión</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-10 col-sm-7 col-xs-7">
          <!--aqui va el contenido-->
          <br>
          <div class="row">
            <article class="activa col-md-9 col-sm-12 col-xs-12">
              <h3><img class="imagen-icono" src="../img/icon/envelope_black.png" alt="Solicitudes">
                Solicitud para unirse a un grupo <span class="label label-primary">Nueva notificación</span>
              </h3>
              <big><p>
                El usuario <b>nombre del usuario</b> te ha enviado una solicitud para unirte a su grupo de trabajo <b>Nombre del
                  grupo de trabajo</b>.<br>
              </p>
              <p>Código de acceso: 0987654321</p></big>
              <small><p>Fecha: --/--/----</p></small>
            </article>
          </div>
          <br>
          <div class="row">
            <article class="neutral col-md-9 col-sm-12 col-xs-12">
              <h3><img class="imagen-icono" src="../img/icon/envelope_white.png" alt="Solicitudes">
                Realizar los cuestionarios de rendimiento <span class="label label-primary">Nueva notificación</span>
              </h3>
              <big><p>
                La tarea <b>Nombre de la tarea</b> ha finalizado, por lo que se te invita a realizar los cuestionarios
                de rendimiento de tus compañeros que trabajaron contigo en dicha tarea; para más información revisar la
                información del grupo <b>Nombre del grupo</b> o consultar con tu líder de grupo.
              </p></big>
              <small><p>Fecha: --/--/----</p></small>
            </article>
          </div>
          <br>
        </div>
      </div>
    </section>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
